---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import Moon from "@/components/Moon.astro";
import { getMoonData, getYearsFromMoonData } from "@/services/moonApi";
import { i18n } from "@/utils/i18n.utils";
import type { NameDay } from "@/utils/types.utils";

const years = getYearsFromMoonData();

const yearMonth = (Astro.params as any).yearMonth;

const [year, month] = yearMonth?.split("-").map(Number) || [
  new Date().getFullYear(),
  new Date().getMonth() + 1,
];

const moonData = await getMoonData({ year, month });

const nextMonth = month === 12 ? 1 : month + 1;
const previousMonth = month === 1 ? 12 : month - 1;

const nextMonthName = i18n["es"][moonData.nameMonth[nextMonth - 1]];
const previousMonthName = i18n["es"][moonData.nameMonth[previousMonth - 1]];

const nextYear = nextMonth === 1 && years.includes(year + 1) ? year + 1 : year;
const previousYear =
  previousMonth === 12 && years.includes(year - 1) ? year - 1 : year;

export const getStaticPaths = (() => {
  const years = getYearsFromMoonData();
  const paths = years
    .map((year) =>
      Array.from({ length: 12 }, (_, i) => {
        const month = i + 1;
        return {
          params: {
            yearMonth: `${year}-${month}`,
          },
        };
      })
    )
    .flat();

  return paths;
}) satisfies GetStaticPaths;
---

<Layout title="Magic Moon" transition:persist>
  <section
    class="w-full h-[100dvh] flex justify-between items-center flex-col"
    transition:animate="fade"
  >
    <header class="sticky top-0 w-full left-0 justify-center flex">
      <div class="flex justify-between px-4 py-3 max-w-[1000px] w-full">
        <a href="/">
          <h2 class="text-white text-2xl">Magic Moon</h2>
        </a>
      </div>
    </header>
    <main class="w-full md:w-3/5 max-w-[800px] flex flex-col justify-center items-center">
      <div
        class="w-full grid grid-cols-7 px-4 md:px-0 md:gap-4 gap-2"
      >
        {
          moonData.nameDay.map((day: NameDay) => (
            <div class="text-white/40 text-center">
              {i18n["es"][day].slice(0, 3)}
            </div>
          ))
        }
        {
          Object.entries(moonData.phase).map(([dayNumber, phase]) => (
            <a
              style={
                Number(dayNumber) == 1
                  ? `grid-column-start:${phase.dayWeek + 1}`
                  : ""
              }
              class={`
          rounded-lg px-0.5 md:py-2 flex flex-col justify-center items-center relative overflow-hidden 
          transition-all duration-500 hover:ring-2 hover:ring-white hover:shadow-lg hover:z-10
          ${phase.isPhaseLimit ? "ring-gray-400 ring-2" : "ring-gray-800 ring-1"}
        `}
              href={`/day/${year}-${month}-${dayNumber}`}
            >
              <div class="w-full flex justify-end md:mr-4 mr-1 md:-mb-1">
                <span class="text-white font-bold md:text-lg">{dayNumber}</span>
              </div>
              <div class="md:w-3/4 relative w-full p-1.5">
                <Moon phaseName={phase.phaseName} percentage={phase.lighting} />
              </div>
            </a>
          ))
        }
      </div>
  
      <div class="flex justify-around w-full max-w-[900px] items-center mt-10">
        <a
          href={`/month/${previousYear}-${previousMonth}`}
          class="text-white/50 md:text-2xl text-sm transition-all md:hover:text-3xl duration-500"
        >
          {previousMonthName}
          {previousMonth == 12 ? previousYear : ""}
        </a>
        <h1 class="text-white md:text-6xl text-2xl z-10">
          {i18n["es"][moonData.monthName]}
          {month == 12 || month == 1 ? year : ""}
        </h1>
        <a
          href={`/month/${nextYear}-${nextMonth}`}
          class="text-white/50 md:text-2xl text-sm transition-all md:hover:text-3xl duration-500"
        >
          {nextMonthName}
          {nextMonth == 1 ? nextYear : ""}
        </a>
      </div>
    </main>
    <footer class="flex justify-center w-full text-white/35 text-xs py-2">
      By &nbsp;<a href="https://github.com/wbenafi" target="_blank" class="text-white/50 font-semibold hover:text-white/60">Walter Benavides</a>
    </footer>
  </section>
</Layout>
